---
layout: homepage
title: Old Creek Media
logo: light
---

<body>
  <div class="uk-background-cover uk-background-bottom-center" style="background-image: url({{ "/assets/img/merge.jpg" | relative_url }});background-color:#333333;">
    {% include header.html %}
    <div class="uk-section uk-section-large">
      <div class="intro-text uk-container">
        <h2 class="uk-heading-medium uk-animation-slide-left-small uk-width-xlarge@m">Lights, Camera, Action! Let's Capture Your Story.</h2>
        <div class="uk-width-xlarge@m">
          <div>
            <h3 class="uk-h4 uk-animation-slide-left-small">Crafting the artistry of life, one moment at a time.</h3>


<p>At Old Creek Media, we're not just any videography company - we're the creative team behind some of the hottest videos in Hollywood. We know how to capture the magic of your event and turn it into a cinematic masterpiece.

With cutting-edge equipment and a team of experienced videographers, we specialize in creating high-quality videos that are both stylish and timeless.

Ready to bring some Hollywood magic to your event? Click below to learn more about our services or to schedule a consultation with one of our videography experts.
</p>

            <div>
              <a class="uk-button uk-button-primary uk-button-large" href="{{"/installation" | relative_url }}">See Our Work</a>
              <a class="uk-button uk-button-default uk-button-large uk-inline-block" href="https://github.com/st4rlab/miniml">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Connect" class="uk-section uk-section-secondary">
    <div class="uk-container">
      <h2 class="uk-heading-line"><span>Connect</span></h2>
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>

        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</body>
